

fieldset.col.s12
  div.row
    div.input-field.col.s4
      input#inputFirstName.validate(type='text')
      label(for="inputFirstName") First Name
    div.input-field.col.s4
      input#inputLastName.validate(type='text')
      label(for="inputLastName") Last Name
    div.input-field.col.s4
      input#inputDuvId(type='text')
      label(for="inputDuvId") DUV Id
  div.row
    div.input-field.col.s4
      input#inputDateOfBirth(type='text')
      label(for="inputDateOfBirth") Birthday
    div.input-field.col.s4
      input#inputYearOfBirth(type='text')
      label(for="inputYearOfBirth") Year of birth
    div.input-field.col.s4
      input#inputEmail.validate(type='email')
      label(for="inputEmail") Email 
  div.row
    div.input-field.col.s4
      input#inputNationality(type='text')
      label(for="inputNationality") Nationality
    div.input-field.col.s4
      input#inputResidence(type='text')
      label(for="inputResidence") Residence
    div.input-field.col.s4
      input#inputClub(type='text')
      label(for="inputClub") Club
  div.row
    div.input-field.col.s4
      input#inputPhone(type='text')
      label(for="inputPhone") Phone No. 
    div.input-field.col.s4
      input#inputMobile(type='text')
      label(for="inputMobile") Mobile No.
    div.input-field.col.s4
      input#inputHomepage(type='text')
      label(for="inputHomepage") Homepage
  div.row
    div.input-field.col.s4
      input#inputCatInt(type='text')
      label(for="inputCatInt") Cat. Int.
    div.input-field.col.s4
      input#inputCatGer(type='text')
      label(for="inputCatGer") Cat. GER
    div.input-field.col.s3
      input#inputStartNum(type='text')
      label(for="inputStartNum") Start No.
    div.input-field.col.s1
      input#inputid(type="hidden")

  div.row
    div.input-field.col.s2
      // input checkbox payed, tshirt, sleep ...
      input#inputPaid1(type='checkbox')
      label(for="inputPaid1") Paid 
    div.input-field.col.s2
      input#inputSleep1(type='checkbox')
      label(for="inputSleep1") Sleep
    div.input-field.col.s2
      input#inputPacer1(type='checkbox')
      label(for="inputPacer1") Pacer
    div.input-field.col.s1
      label Size
    div.input-field.col.s1
      input#inputSizeS(name="tsizes" type="radio")
      label(for="inputSizeS") S
    div.input-field.col.s1
      input#inputSizeM(name="tsizes" type="radio")
      label(for="inputSizeM") M
    div.input-field.col.s1
      input#inputSizeL(name="tsizes" type="radio")
      label(for="inputSizeL") L
    div.input-field.col.s1
      input#inputSizeXL(name="tsizes" type="radio")
      label(for="inputSizeXL") XL

  div.row
    div.input-field.col.s2
      button#btnSaveRunner Save Runner
