

fieldset.col.s12
  div.row
    div.input-field.col.s4
      input#inputFirstName.validate(type='text')
      label(for="inputFirstName") First Name
    div.input-field.col.s4
      input#inputLastName.validate(type='text')
      label(for="inputLastName") Last Name
    div.input-field.col.s4
      input#inputDuvId(type='text')
      label(for="inputDuvId") DUV Id
  div.row
    div.input-field.col.s4
      input#inputDateOfBirth(type='text')
      label(for="inputDateOfBirth") Birthday
    div.input-field.col.s4
      input#inputYearOfBirth(type='text')
      label(for="inputYearOfBirth") Year of birth
    div.input-field.col.s4
      input#inputEmail.validate(type='email')
      label(for="inputEmail") Email 
  div.row
    div.input-field.col.s4
      input#inputNationality(type='text')
      label(for="inputNationality") Nationality
    div.input-field.col.s4
      input#inputResidence(type='text')
      label(for="inputResidence") Residence
    div.input-field.col.s4
      input#inputClub(type='text')
      label(for="inputClub") Club
  div.row
    div.input-field.col.s4
      input#inputPhone(type='text')
      label(for="inputPhone") Phone No. 
    div.input-field.col.s4
      input#inputMobile(type='text')
      label(for="inputMobile") Mobile No.
    div.input-field.col.s4
      input#inputHomepage(type='text')
      label(for="inputHomepage") Homepage
  div.row
    div.input-field.col.s4
      input#inputCatInt(type='text')
      label(for="inputCatInt") Cat. Int.
    div.input-field.col.s4
      input#inputCatGer(type='text')
      label(for="inputCatGer") Cat. GER
    div.input-field.col.s3
      input#inputStartNum(type='text')
      label(for="inputStartNum") Start No.
      
  div.row
    div.input-field.col.s2
      // input checkbox payed, tshirt, sleep ...
      input#inputPaid(type='checkbox')
      label(for="inputPaid") Paid 
    div.input-field.col.s2
      input#inputSleep(type='checkbox')
      label(for="inputSleep") Sleep
    div.input-field.col.s2
      input#inputPacer(type='checkbox')
      label(for="inputPacer") Pacer
    div.input-field.col.s1
      label T-Shirt
    div.input-field.col.s1
      input#inputTsizeS(name="tsizes" value="S" type="radio")
      label(for="inputTsizeS") S
    div.input-field.col.s1
      input#inputTsizeM(name="tsizes" value="M" type="radio")
      label(for="inputTsizeM") M
    div.input-field.col.s1
      input#inputTsizeL(name="tsizes" value="L" type="radio")
      label(for="inputTsizeL") L
    div.input-field.col.s1
      input#inputTsizeXL(name="tsizes" value="XL" type="radio")
      label(for="inputTsizeXL") XL


  div.row
    div.input-field.col.s2
      button#btnAddRunner Add Runner
    div.input-field.col.s2
      button#btnLookupDuv Lookup DUV ID
