

button#btnGenStarterList Generate Starter List

button#btnGenEmailList Generate Email List

#starterList
  table
    thead
      th No.
      th Name
      th Nationality
      th Residence
      th Club
      th Cat
    tbody

#emailList
