

button#btnGenStarterList Generate Starter List

button#btnGenEmailList Generate Email List

button#btnGenVPList Generate VP List

#starterList
  table
    thead
      th #
      th StartNo.
      th Name
      th Nationality
      th Residence
      th Club
      th Cat
    tbody

#vpList
  table
    thead
      th No.
      th Name
      th IN
      th OUT
    tbody

#emailList
